<div class="paintings-container">
    <h2>{{vm.sectionInBg}}</h2>
    <div class="container">
        <div ng-repeat="painting in vm.items">
            <div class="inner-paintings-container" ng-click="vm.loaDetails(painting.$id, $index)">
                <div class="painting-image">
                    <img ng-src="{{painting.url}}">
                </div>
                <h4 class="painting-name">{{painting.title}}</h4>
                <p class="description">{{painting.description}}</p>
            </div>
        </div>
    </div>
</div>
