<div class="archive-container clearfix">
    <h2>
        {{vm.sectionInBg}}
    </h2>
    <p class="no-photos-message" ng-hide="vm.hasItems == true">Не са намерени снимки.</p>
    <div class="container">
        <div ng-repeat="photo in vm.items">
            <div class="inner-photo-container" ng-click="vm.loaDetails(photo.$id, $index)">
                <div class="photo-image">
                    <img class="photo-image" ng-src="{{photo.url}}">
                </div>
                <h4 class="name">{{photo.name}}</h4>
                <p class="year">{{photo.year}}</p>
            </div>
        </div>
    </div>
</div>